*


.mynav ul {
    justify-content: center;
    list-style-type: none;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.mynav li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: #4F4949;
    opacity: 0.8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.mynav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

    .mynav ul li a:hover {
        background-color: green;
    }

.mynav ul li ul li {
    display: none;
}

.mynav ul li:hover ul li {
    display: block;
}
